<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nos vemos por aí!</h2>
                <hr class="light">
                <p class="text-faded">
                  Aqui abrirei espaço para conversar sobre as coisas que faço por amor, programar, jogar, tocar.
                </p>
                <p>
                  Vamos falar de Javascript, Sharepoint, de escalas pentatônicas e outras mais exóticas?
                </p>
                <a href="#portfolio" class="btn btn-default btn-xl">SIM</a>
            </div>
        </div>
    </div>
</section>
