<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meus serviços</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-slack wow bounceIn text-primary"></i>
                    <h3>Desenvolvendo</h3>
                    <p class="text-muted">Adoro ser útil e nada melhor que usar o conhecimento adquirido.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Estudando</h3>
                    <p class="text-muted">Engenharia da Computação FIAP!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Aprendendo</h3>
                    <p class="text-muted">Porque a faculdade não sacia minha sede.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Meus amores</h3>
                    <p class="text-muted">Porque sem amor eu nada seria</p>
                </div>
            </div>
        </div>
    </div>
</section>
