<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="page-top">
    {% include nav.html %}
    {% capture imgCategory %}{{ page.imgCategory }}{% endcapture %}
    {% include headerCategory.html %}
    <div class="page-content">
      <h3 class="text-center">
        {{page.title}}
      </h3>
      <div class="wrapper">
        <section class="no-padding" id="portfolio">
            <div class="container-fluid">
                <div class="row no-gutter">
                  {% for post in site.posts %}
                    {% if post.categories contains page.category %}
                      <div class="col-lg-6 col-sm-6">
                          <a href="{{ post.url }}" class="portfolio-box">
                              <img src="{{post.imgurl}}" class="img-responsive" alt="">
                              <div class="portfolio-box-caption">
                                  <div class="portfolio-box-caption-content">
                                      <div class="project-category text-faded">
                                          {{ post.title }}
                                      </div>
                                      <div class="project-name">
                                          {{ post.subtitle }}
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </section>
      </div>
    </div>
    {% include contact.html %}
    {% include scripts.html %}
  </body>
</html>
